* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Press-Start;
    src: url('../assets/fonts/PressStart2P-Regular.ttf');
}

body {
    font-family: Press-Start;
    display: flex;
    justify-content: center;
}

.container {
    width: 1000px;
    height: 800px;
    margin: 0;
    padding: 0;
    border: 1px solid rgb(61, 61, 198);
}

.top {
    color: white;
    background-color: rgb(61, 61, 198);
    padding: 1rem;
    margin: 0;
}

.grid-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* height: 720px; */
}

.bottom {
    color: white;
    background-color: rgb(61, 61, 198);
    padding: 1rem;
    margin: 0;
    display: flex;
    justify-content: center;
}

.bottom input, button {
    padding: 1rem;
    margin: 1rem;
    border-radius: 20px;
    overflow: hidden;
}

.left-side {
    background-color: rgb(170, 198, 170);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.name-level {
    margin: 1rem;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.pokeName {
    background-color: rgb(255, 199, 58);
    color: white;
    padding: 1rem;
    margin: 0;
}

.pokeLevel {
    background-color: white;
    color: black;
    padding: 1rem;
    margin: 0;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.pokemonImage {
    height: 300px;
    width: 300px;
    margin: 2rem;
    align-items: center;
    background-color: rgb(229, 229, 152);
}

#pokemonSprite {
    height: 300px;
    position: fixed;
}

.itemSection {
    height: fit-content;
}

.item {
    background-color: rgb(255, 199, 58);
    color: white;
    padding: 1rem;
    margin: 0;
}

.itemNone {
    background-color: white;
    color: black;
    padding: 1rem;
    margin: 0;
}

.right-side {
    background-color: rgb(170, 198, 170);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.options-buttons {
    height: fit-content;
    width: fit-content;
}

.options-buttons button {
    border-radius: 0;
    margin: 0;
    padding: 0;
    height: 50px;
    width: 50px;
    font-size: 0;
}

.options-buttons i {
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
}

.right-grid {
    display: grid;
    grid-template-columns: auto auto;
}

.lightBg {
    background-color: rgb(174, 139, 226);
    margin: 0;
    padding: 1rem;
}


.darkBg {
    background-color: rgb(138, 94, 204);
    margin: 0;
    padding: 1rem;
}

.whiteBg {
    background-color: white;
    margin: 0;
    padding: 1rem;
}

.hpBar {
    margin: 0;
    padding: 1rem;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: red;
    background-color: rgb(138, 94, 204);

}


.yellowBg {
    background-color: rgb(173, 173, 64);
    margin: 0;
    padding: 1rem;
}

.hpBtn {
    width: 200px;
    height: 1px;
    background-color: rgb(40, 216, 40);
    border-radius: 0;
    border: 4px solid black;
    margin: 0;
}